:root {
  /* ----------Custom Properties---------- */
  /* Primary colors */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  /* Secondary colors */
  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray: hsl(0, 0%, 95%);
  /* Font families */
  --ff-primary: "Big Shoulders Display", cursive;
  --ff-secondary: "Lexend Deca", sans-serif;
  --ff-body: var(--ff-secondary);
  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  /* Font Sizes */
  --fs-400: 0.9375rem;
  --fs-600: 2.3rem;
  --fs-800: 2.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Genaral styling */

body {
  background-color: var(--clr-very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  padding: 0;
}
.container {
  max-width: 61rem;
  display: grid;
  overflow: auto;
  margin: 5rem 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  min-height: 30rem;
  border-radius: 0.5rem;
}

.column {
  /* min-height: 30em; */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding: 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  text-transform: uppercase;
}
.button-wrapper {
  margin-top: 1.3rem;
}
@media (min-width: 40em) {
  .button-wrapper {
    margin-top: 5.5rem;
  }
}

/* Utility classes */
.text-light-gray {
  color: var(--clr-very-light-gray);
}
.text-transparent-white {
  color: var(--clr-transparent-white);
}
.text-bright-orange {
  color: var(--clr-bright-orange);
}
.text-dark-cyan {
  color: var(--clr-dark-cyan);
}
.text-very-dark-cyan {
  color: var(--clr-very-dark-cyan);
}
.light-background {
  background-color: var(--clr-bright-orange);
}
.dark-background {
  background-color: var(--clr-dark-cyan);
}
.very-dark-background {
  background-color: var(--clr-very-dark-cyan);
}

.button {
  cursor: pointer;
  background-color: var(--clr-very-light-gray);
  padding: 0.85rem 2.2rem;
  border-radius: 4rem;
  border: none;
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}
.button:hover {
  color: var(--clr-transparent-white);
  background-color: var(--clr-bright-orange);
  border: 3px solid var(--clr-transparent-white);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-800);
  line-height: 1;
}
.fs-secondary {
  font-size: var(--fs-400);
  line-height: 1.8;
}

.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}
